{% extends 'main.html' %}

{% block content %}

<h1>Home App</h1>

<button><a href="{% url 'create-room' %}">Add Room</a><br>
</button><h3>List Of rooms</h3>
<div>
    {% for room in rooms %}
        <hr>
        [<a href="{% url 'update-room' room.id %}">Edit Room</a>]
        [<a href="{% url 'delete-room' room.id %}">Delete Room</a>]
        <span>@ {{room.host.username}}</span>
        <h4>{{room.id}} -- <a href="{% url 'room' room.id %}" rel="{{room.name}}">{{room.name}}</a></h4>
        
    {% endfor %}
</div>

{% endblock content %}